/* Base Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 69.375rem; /* 1110px */
  margin: 0 auto;
  padding: 0 1rem; /* 16px */
}

.section {
  padding: 2rem 0; /* 32px */
}

/* Main Content Styles */
.main {
  margin-left: 10.625rem; /* 250px */
  padding: 1rem; /* 16px */
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 48rem) { /* 768px */
  .sidebar {
    width: 12.5rem; /* 200px */
  }

  .main {
    width: min-content;
    margin-left: 12.5rem; /* 200px */
  }
}

@media (max-width: 30rem) { /* 480px */
  .main {
    margin-left: 6.875rem; /* 110px */
  }
}

/* Utility Classes */
.text-center {
  text-align: center;
}

/* Responsive Typography */
h1 {
  font-size: 2.5rem; /* 40px */
  margin: 1rem 0; /* 16px */
}

h2 {
  font-size: 2rem; /* 32px */
  margin: 1rem 0; /* 16px */
}

p {
  font-size: 1rem; /* 16px */
  line-height: 1.5;
}

@media (max-width: 48rem) { /* 768px */
  h1 {
    font-size: 2rem; /* 32px */
  }

  h2 {
    font-size: 1.75rem; /* 28px */
  }

  p {
    font-size: 0.875rem; /* 14px */
  }
}

@media (max-width: 30rem) { /* 480px */
  h1 {
    font-size: 1.75rem; /* 28px */
  }

  h2 {
    font-size: 1.5rem; /* 24px */
  }

  p {
    font-size: 0.75rem; /* 12px */
  }
}
