/* Base Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.section {
  padding: 2rem 0; 
}

/* Main Content Styles */
.main {
  margin-left: 10.625rem; 
  padding: 1rem; 
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 48rem) { 
  .sidebar {
    width: 12.5rem; 
  }

  .main {
    width: min-content;
    margin-left: 12.5rem; 
  }
  
  h1 {
    font-size: 2rem; 
  }

  h2 {
    font-size: 1.75rem; 
  }

  p {
    font-size: 0.875rem; 
  }
}

@media (max-width: 30rem) { 
  .main {
    margin-left: 6.875rem; 
  }

  h1 {
    font-size: 1.75rem; 
  }

  h2 {
    font-size: 1.5rem; 
  }

  p {
    font-size: 0.75rem; 
  }
}

/* Utility Classes */
.text-center {
  text-align: center;
}

/* Responsive Typography */
h1 {
  font-size: 2.5rem; 
  margin: 1rem 0; 
}

h2 {
  font-size: 2rem; 
  margin: 1rem 0; 
}

p {
  font-size: 1rem; 
  line-height: 1.5;
}

